.app{
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    font-size: 25px;
    padding: 14px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.btn-blue{
    background-color: #48a5ef;
}
.btn-red{
    background-color:red;
}

.dflex{
    display: flex;
    justify-content: space-between;
}